{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Skills</th>
                        <th>Salary</th>
                        <th>Location</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in jobs %}
                    <tr>
                        <td>{{row.title}}</td>
                        <td>{{row.description}}</td>
                        <td>{{row.skills}}</td>
                        <td>{{row.salary}}</td>
                        <td>{{row.location}}</td>
                        <td>
                            <a class="edit" title="Edit" data-toggle="tooltip" id="{{row.id}}"><i class="fas fa-pencil"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" id="{{row.id}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}