{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="card" style="height: 500px;margin-left: 22rem;margin-right: 22rem;margin-top: 6rem;">
        <!-- <div class="card-image waves-effect waves-block waves-light">
      Hello
    </div> -->
        <div class="card-content">

            <span class="card-title activator grey-text text-darken-4">
                <span style="text-align:center">Nicole Pinhal</span>
                <i class="fas fa-pencil right"></i></span>
            <form method="POST" action="{{url_for('upload'')}}" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" />
            </form>
            <div class="row">
                <div class="input-field col s6">

                    <label for="firstname">Email:&nbsp; nicole.pinhal84@gmail.com</label>
                </div>
                <div class="input-field col s6">
                    <label for="firstname">Username:&nbsp;{{ profile.username}}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">

                    <label for="company">Company:&nbsp;
                        {% if profile.username %}
                        {{ profile.company}}
                        {% else %}
                        <i>company name</i>
                        {% endif %}
                    </label>
                </div>
                <div class="input-field col s6">
                    <label for="firstname">Address:&nbsp;
                        Address:&nbsp;
                        {% if profile.address %}
                        {{ profile.address}}
                        {% else %}
                        <i>address here</i>
                        {% endif %}

                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">

                    <label for="firstname">
                        Designation:&nbsp;
                        {% if profile.designation %}
                        {{ profile.designation}}
                        {% else %}
                        <i>designation</i>
                        {% endif %}

                    </label>
                </div>
                <div class="input-field col s6">
                    <label for="firstname">User type:&nbsp; Employer</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">

                    <label for="firstname">About Company:&nbsp; <i>about company</i></label>
                </div>
                <div class="input-field col s6">
                    <label for="firstname"> {% if profile.phone %} {{ profile.phone}} {% else %} <span>phone</span>
                        {% endif %}
                    </label>
                </div>
            </div>

            <!-- <p><a href="#">This is a link</a></p> -->
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Edit Profile<i class="fas fa-close right"></i></span>
            <!-- <p>Here is some more information about this product that is only revealed once clicked on.</p> -->
            <div class="row">
                <form class="col s12 m12" method="POST" action="{{url_for('profile',username=session['user'])}}">
                    <!-- <div class="card-panel"> -->
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="fas fa-user-tie prefix light-blue-text text-darken-4"></i>
                            <input id="firstname" name="firstname" type="text" class="validate">
                            <label for="firstname">Firstname</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
                            <input id="lastname" name="lastname" type="text" class="validate">
                            <label for="lastname">Lastname</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-building prefix light-blue-text text-darken-4"></i>
                            <input id="company" name="company" type="text" class="validate" value="{{profile.company}}">
                            <label for="company">Company name</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="fas fa-building prefix light-blue-text text-darken-4"></i>
                            <textarea id="about" name="about" class="validate">{{profile.about}}</textarea>
                            <label for="about">Company description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                            <input id="designationss" name="designation" type="text" class="validate"
                                value="{{profile.designation}}">
                            <label for=" designation">Designation</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-address-card prefix light-blue-text text-darken-4"></i>
                            <input id="address" name="address" type="text" class="validate" value="{{profile.address}}">
                            <label for="address">Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-phone prefix light-blue-text text-darken-4"></i>
                            <input id="phone" name="phone" type="text" class="validate" value="{{profile.phone}}">
                            <label for="phone">Phone</label>
                        </div>
                    </div>

                    <div class="row">
                        <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                            Update Profile <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                    <!-- </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}