body {
    font-family: 'Open Sans', sans-serif !important;
}

.text-shadow {
    text-shadow: 2px 2px 2px black;
}

.img-size {
    height: 58px;
    width: 80px;
}

.flashes h4 {
    line-height: 2;
}

.menu-background {
    background: linear-gradient(90deg, rgb(0, 116, 173) 0%, rgb(0, 64, 153) 100%)!important;
}

.btnPrimary {
    background-color: rgb(9, 148, 218);
}

.mainDiv {
    background-color: #f5f5f5;
    margin-top: -15px;
}

.profile-image {
    width: 130px;
    height: 125px;
    border-radius: 50%;
}

label {
    color: black !important;
}

.edit {
    color: #FFC107;
    cursor: pointer
}

.delete {
    color: #E34724;
    cursor: pointer
}
.update{
    color:green;
}
a {
    cursor: pointer
}

.joseeker-profile-row{
    margin-bottom: 0px;
}