<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
     integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}" type="text/css">
    <title>Job Zone</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper #039be5 light-blue darken-1">
              <a href="{{url_for('get_jobs')}}" class="brand-logo">Job Zone</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{url_for('get_jobs')}}">Home</a></li>
                <li><a href="{{url_for('jobs')}}">Jobs</a></li>
                <li><a href="#">Employers</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="{{url_for('postJob')}}">Post Job</a></li>
                <li><a href="{{url_for('login')}}">Log In</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
              <li class="center-align light-blue-text text-darken-4"><h4>Job Zone</h4></li> 
            <li><a href="{{url_for('get_jobs')}}">Home</a></li>
            <li><a href="{{url_for('jobs')}}">Jobs</a></li>
            <li><a href="#">Employers</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="{{url_for('postJob')}}">Post Job</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="{{url_for('login')}}">Log In</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
          </ul>
                  
    </header>
    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js" integrity="sha512-0nVWK03Ud0k6o8wDkri8jxX9zQIn00ZHVud3iqBTwd2bGFwJDQShGVb3+vX1adCRxQckKQrIQMFmIA3tfWe+Mg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>