<script>
    $(document).ready(function () {
        $(".btnPrimary").click(function () {
            var THIS = this;
            var id = $(this).prev()[0].innerHTML;
            $.post("/applyJob", {
                id: id
            }, function (data) {
                $(THIS).closest("div").next().find("label").html(data); // $(this).next()[0].html(data)
            });
        });
    });
</script>

<h5>{{numrows}} Jobs found</h3>
    {% for row in jobs %}
    <div class="row jobsearch-div">
        <div class="col s12">
            <div class="row">

                <div class="col s6 jobsearch-td">
                    <b>Title: &nbsp; {{row.title}}</b>
                </div>
                <div class="col s6">
                    <b>Companyname:&nbsp; {{row.company}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col s12 jobsearch-td">
                    <b>Description:&nbsp; {{row.description}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col s12 jobsearch-td">
                    <b>Skills:&nbsp; {{row.skills}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col s9 jobsearch-td">
                    <b>Location:&nbsp; {{row.location}}</b>
                </div>

            </div>
            <div class="row">
                <div class="col s6">
                    <span style="display:none">{{row._id}}</span>
                    <button id="btnApply" class="btnPrimary btn">
                        Apply <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                <div class="col s6">
                    <label id="statusLabel" style="font-weight:bold;color:green !important"></label>
                </div>
            </div>
        </div>

    </div>
    </div>
    {% endfor %}